    /******************** Base Styles ********************/

    * {
      margin: 0;
      border: 0;
      padding: 0;
      color: #333;
      box-sizing: border-box;
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      outline: none;
    }

    *:before, *:after {
      box-sizing: border-box;
    }

    .container {
      width: 100%;
    }

    .container-fluid .row .col-sm-4 {
      background-color: #EBF0F5;
    }

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1em;
    }

    img {
      max-width: 100%;
    }

    .relative {
      position: relative;
    }

    .absolute {
      position: absolute;
    }

    .flex-basis {
      flex-basis: 100%;
    }

    .filler {
      background-color: gold;
    }

    .max-width {
      max-width: 1440px;
      margin-right: auto;
      margin-left: auto;
    }

    .full-width {
      width: 100%;
    }

    .transparent {
      background-color: transparent;
    }
    /******************** Header ********************/

    .logo img {
      height: 45px;
    }

    .fix {
      position: fixed;
      top: 0;
      background-color: #406DA1;
      transition: background-color 1s ease;
    }

    .move {
      position: absolute;
      top: 50px;
      /*transition: background-color 0.5s ease-in;*/
    }

    #fixedMenu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #406DA1;
      z-index: 5000;
      box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.18), 0 0 9px rgba(0, 155, 255, 0.22);
    }

    #fixedMenu ul {
      list-style: none;
      padding: 0;
      text-align: center;
      background-color: #406DA1;
      margin: 0;
    }

    #fixedMenu ul li {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    #fixedMenu ul a {
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      color: #FFF;
      text-decoration: none;
      border-bottom: 5px solid transparent;
    }

    #fixedMenu ul a:hover {
      border-bottom: 5px solid #FFF;
    }

    #fixedMenu ul a#reqButton {
      display: block;
      border: 0;
      padding: 0;
    }

    #fixedMenu ul a#reqButton:hover {
      border-bottom: 0;
    }

    #fixedMenu ul a#reqButton button {
      display: block;
      background-color: transparent;
      color: #FFFFFF;
      margin: 0 auto;
      padding: 0.5em 0.75em;
      border-radius: 4px!important;
      border: 2px solid #FFFFFF;
      outline: none;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      cursor: pointer;
      transition: all 300ms;
    }

    #fixedMenu ul a#reqButton button:hover {
      background-color: #FFFFFF;
      color: #406DA1;
    }

    #hamburger {
      display: none!important;
      font-size: 1.5em!important;
      text-decoration: none;
      color: #ffffff;
      cursor: pointer!important;
      /*border-bottom: 5px solid transparent!important;*/
    }

    button, input[type=submit] {
      background-color: transparent;
      color: #FFFFFF;
      padding: 0.5em 0.75em;
      border-radius: 4px!important;
      border: 2px solid #FFFFFF;
      outline: none;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      cursor: pointer;
    }

    #fixy {
      position: fixed;
      /*width: 100%;*/
      width: 45%;
      z-index: 10;
      display: none;
      padding-right: 5%;
      padding-left: 5%;
    }

    #right a {
      text-transform: uppercase;
      text-decoration: none;
      color: #0E4E8D;
      font-weight: bold;
      font-size: 1.3em;
    }

    #navigation {
      width: 100%;
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      color: #6A6F7B;
      top: 0;
      left: 0;
      text-align: center;
      padding: 12px 0;
      transition: background-color 300ms ease-in-out;
      position: fixed;
      z-index: 99999;
    }

    #navigation .logo {
      height: 100%;
      padding-right: 38%;
    }

    #navigation .logo img {
      height: 45px;
    }

    #navigation>ul {
      list-style: none;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 1%;
      padding-right: 1%;
      margin-bottom: 0;
    }

    #navigation a {
      font-family: 'Lato', sans-serif;
      font-size: 1em;
      margin: 0 20px;
      right: 0;
      color: #FFF;
      text-decoration: none;
      border-bottom: 5px solid transparent;
      z-index: 99999;
    }

    .move #navigation a {
      color: #fff;
    }

    #navigation.fix a {
      color: #4A4A4A;
    }

    #demo {
      transition: all 300ms;
    }

    .whiteHover, .blueHover {
      background-color: transparent;
    }

    .whiteHover {
      color: #FFFFFF;
    }

    .blueHover {
      color: #406DA1;
    }

    .blueHover:hover {
      background-color: #406DA1 !important;
      color: #FFFFFF;
    }

    .whiteHover:hover {
      background-color: #FFFFFF !important;
      color: #406DA1 !important;
    }

    .shadow {
      box-shadow: -3px 3px 9px 0px rgba(0, 0, 0, 0.18), 0 0 9px rgba(0, 155, 255, 0.22);
    }
    /******************** Cover Section ********************/

    .cover-container {
      background: url("../assets/bg-image.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .cover-container .cover {
      width: 100%;
      position: relative;
      height: 100vh;
      padding: 0 5%;
    }

    .cover-container .cover .content {
      position: relative;
      display: block;
      color: #FFFFFF;
      top: 50%;
      margin-top: -147px;
    }

    .cover-container .cover .content h1 {
      line-height: 1.4em;
      margin-bottom: 20px;
    }

    .cover-container .cover .content .separator {
      width: 100px;
      height: 4px;
      background-color: #FFFFFF;
    }

    .separator {
      margin-top: 20px;
    }

    .quote {
      font-size: 2em;
    }

    .tagline {
      line-height: 25px;
    }

    .cover-container .cover .content h4 {
      max-width: 550px;
      margin-top: 20px;
    }
    /******************** Product Section ********************/

    .chatbot-container {
      color: #333 !important;
    }

    .chatbot-container .chatbot-left {
      padding: 132px 5% 25px 5%;
    }

    .chatbot-container .chatbot-left p {
      color: #999999;
      font-weight: 300;
    }

    .chatbot-container .chatbot-right {
      padding: 132px 5% 50px 5%;
    }

    .chatbot-container .chatbot-right img {
      width: 100%;
    }
    /******************** Technology Section ********************/

    .tech-container {
      padding: 112px 0 50px 0;
      color: #FFFFFF !important;
      background: #31486A;
      background: -moz-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: -webkit-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: linear-gradient(135deg, #31486A 0%, #406DA1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$blue', GradientType=1);
    }

    .tech-container .heading h1 {
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 50px;
    }

    .tech-container .card-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .tech-container .card {
      width: 28%;
      margin: 0 5%;
      padding: 30px;
      border-radius: 3px;
      background-color: #FFFFFF;
      color: #333;
      text-align: center;
      transition: all 350ms;
      -webkit-transition: all 500ms;
    }

    .tech-container .card:hover {
      transform: scale(1.02);
      box-shadow: -3px 3px 27px 3px rgba(0, 0, 0, 0.08), 0 0 9px 3px rgba(48, 71, 106, 0.42);
    }

    .tech-container .card h3 {
      margin-bottom: 20px;
      color: #31486A;
    }

    .tech-container .card p {
      color: #406DA1;
      text-align: center;
      font-weight: 300;
    }
    /******************** Why Us ********************/

    .why-us {
      padding: 110px 0;
    }

    .why-us .heading h1 {
      margin-bottom: 25px;
      text-align: center;
    }

    .why-us .content-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .why-us .content-container .content {
      width: 30%;
      padding-top: 90px;
      text-align: center;
    }

    .why-us .content-container .content img {
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -90px;
    }

    .why-us .content-container .content .text {
      min-height: 280px;
      padding: 70px 0 20px 0;
      border-radius: 3px;
      background-color: #EBF0F5;
    }

    .why-us .content-container .content .text h3 {
      margin-bottom: 20px;
      color: #31486A;
      padding: 0 10px;
    }

    .why-us .content-container .content .text p {
      color: #406DA1;
      font-weight: 300;
      padding: 0 30px;
    }
    /******************** Contact Us ********************/

    .contact-container {
      padding: 112px 100px 50px 100px;
      background-color: #EBF0F5;
    }

    .contact-container .heading {
      text-align: center;
    }

    .contact-container .heading p {
      margin-bottom: 40px;
      font-weight: 300;
    }

    .contact-container .contact-form-container {
      position: relative;
      display: block;
    }

    .contact-container .contact-form-container .contact-form {
      position: relative;
      display: flex;
      flex-flow: row;
      overflow: hidden;
      width: 100%;
      margin-top: 40px auto;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: -3px 3px 9px 0px rgba(48, 71, 106, 0.22), 0 0 18px 3px rgba(0, 55, 155, 0.08);
    }

    .contact-container .contact-form-container .contact-form .form {
      flex: 2;
      min-height: 389px;
      padding: 20px 40px 40px 40px;
    }

    .contact-container .contact-form-container .contact-form .form h3 {
      color: #31486A;
      margin-bottom: 40px;
    }

    .contact-container .contact-form-container .contact-form .form form {
      font-weight: 300;
    }

    .contact-container .contact-form-container .contact-form .form form input {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      height: 37px;
      padding: 7px;
      margin-right: 9%;
      margin-bottom: 30px;
      border-bottom: 1px solid #406DA1;
      transition: all ease 120ms;
      -webkit-transition: all ease 120ms;
      font-weight: 300;
    }

    .contact-container .contact-form-container .contact-form .form form input:focus {
      height: 37px;
      border-bottom-width: 3px;
    }

    .contact-container .contact-form-container .contact-form .form form .button {
      display: block;
      padding: 10px 20px;
      border-radius: 3px;
      text-align: center;
      color: #FFFFFF;
      background-color: #406DA1;
      transition: all ease 300ms;
      -webkit-transition: all ease 300ms;
    }

    .contact-container .contact-form-container .contact-form .form form .button:hover {
      background-color: #31486A;
    }

    .contact-container .contact-form-container .contact-form .info {
      flex: 1;
      padding: 20px 40px;
      background: #31486A;
      background: -moz-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: -webkit-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: linear-gradient(135deg, #31486A 0%, #406DA1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$blue', GradientType=1);
      color: #FFFFFF;
    }

    .contact-container .contact-form-container .contact-form .info .detail {
      position: relative;
      display: block;
      width: 100%;
      margin: 20px 0;
    }

    .contact-container .contact-form-container .contact-form .info .detail img {
      display: inline-block;
      vertical-align: middle;
      width: 12%;
      margin-right: 10%
    }

    .contact-container .contact-form-container .contact-form .info .detail div {
      display: inline-block;
      vertical-align: middle;
      width: 68%
    }

    .contact-container .contact-form-container .contact-form .info .detail div h4, .contact-container .contact-form-container .contact-form .info .detail div p, .contact-container .contact-form-container .contact-form .info .detail div a {
      color: #EBF0F5;
    }

    .contact-container .contact-form-container .contact-form .info .detail div h4 {
      font-size: 1.1em;
    }

    .contact-container .contact-form-container .contact-form .info .detail div p {
      font-size: 1em;
      font-weight: 300;
    }

    .contact-container .contact-form-container .contact-form .info .detail div a {
      display: block;
      margin-bottom: 10px;
      font-size: 1em;
    }
    /******************** Footer ********************/

    .footer {
      padding: 40px 100px;
      background: #31486A;
      background: -moz-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: -webkit-linear-gradient(-45deg, #31486A 0%, #406DA1 100%);
      background: linear-gradient(135deg, #31486A 0%, #406DA1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$blue', GradientType=1);
    }

    .footer p {
      margin: 0;
      font-weight: 300;
      text-align: center;
      color: #FFFFFF;
    }
    /******************** Media Queries ********************/

    @media all and (max-width: 1205px) {
      #navigation .logo {
        padding-right: 35%;
      }
    }

    @media all and (max-width: 1166px) {
      #navigation .logo {
        padding-right: 25%;
      }
    }

    @media all and (max-width: 964px) {
      #navigation .logo {
        padding-right: 20%;
      }
      #navigation .logo a {
        margin: 0;
      }
    }

    @media all and (max-width: 900px) {
      #demo {
        display: none!important;
      }
      #fixedMenu {
        display: none;
      }
      #hamburger {
        display: block!important;
      }
      #demoButton {
        display: none;
      }
      .nav {
        display: none;
      }
      .row {
        padding-left: 0px;
        padding-right: 0px;
      }
      .chatbot-container .chatbot-left {
        text-align: center;
        padding: 80px 80px 25px 80px;
      }
      .chatbot-container .chatbot-right {
        padding: 25px 80px 80px 80px;
      }
      .tech-container, .why-us {
        padding: 80px 50px 50px 50px;
      }
      .tech-container .heading h1 {
        margin-bottom: 30px;
      }
      .tech-container .card-container {
        flex-flow: column;
      }
      .tech-container .card {
        width: 45%;
        display: block;
        min-height: 0;
        padding: 10px 30px 30px 30px;
        margin: 25px auto;
      }
      .why-us .content-container {
        flex-flow: column;
      }
      .why-us .content-container .content {
        width: 50%;
        margin: 0 auto;
        padding-top: 60px;
      }
      .why-us .content-container .content .text {
        min-height: 0;
        width: 80%;
        margin: 20px auto;
      }
      .contact-container .contact-form-container .contact-form {
        width: 90%;
        margin: 40px auto 0 auto;
      }
    }

    @media all and (max-width: 800px) {
      .contact-container .contact-form-container .contact-form {
        flex-flow: column;
      }
      .contact-container .contact-form-container .contact-form .form form input {
        width: 100%;
        display: block;
      }
      .contact-container .contact-form-container .contact-form .info .detail {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
      }
      .contact-container .contact-form-container .contact-form .info .detail img {
        width: 6%;
        margin-right: 6%;
      }
    }

    @media all and (max-width: 784px) {
      #navigationBottom>ul {
        flex-flow: column;
      }
      .grow {
        flex-grow: 0;
        text-align: center;
      }
      .row {
        padding-left: 0px;
        padding-right: 0px;
      }
      .cover-container .cover .content {
        position: relative;
        display: block;
        left: auto;
        top: auto;
        padding-top: 23%;
        margin-top: auto;
        color: #FFFFFF;
      }
      .cover-container .cover .content h1 {
        font-size: 2.6em;
        line-height: 1.4em;
      }
      .tech-container .card {
        display: block;
        width: 45%;
        min-height: 0;
        padding: 10px 30px 30px 30px;
        margin: 25px auto;
      }
    }

    @media all and (max-width: 768px) {
      .cover-container .cover .content {
        padding-top: 55%;
      }
    }

    @media all and (max-width: 680px) {
      .cover-container .cover .content {
        padding-top: 30%;
      }
    }

    @media all and (max-width: 600px) {
      #navigation {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
      .move {
        top: 10px;
      }
      .chatbot-container .chatbot-left {
        padding-top: 80px;
      }
      .chatbot-container .chatbot-left h1 {
        margin-bottom: 20px;
      }
      .tech-container, .why-us, .contact-container {
        padding-top: 80px;
      }
      .tech-container .card {
        display: block;
        width: 60%;
        min-height: 0;
        padding: 10px 30px 30px 30px;
        margin: 25px auto;
      }
      .tech-container .card img {
        width: 60%;
      }
      .why-us .content-container .content {
        width: 80%;
        margin: 0 auto;
        padding-top: 60px;
      }
    }

    @media all and (max-width: 480px) {
      .cover-container .cover .content {
        padding-top: 60%;
      }
      .cover-container .cover .content h1 {
        font-size: 1.8em;
        line-height: 1.5em;
      }
      .cover-container .cover .content h4 {
        font-size: 1em;
        line-height: normal;
        font-weight: 300;
      }
    }
